# exclude all
/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# include important folders
# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties

# include markdowns
!README.md
!License.md

# include sourcecode
!src/

# include git important files
!.gitmodules
!.gitignore

# code format to reduce noise in git commits
!codeformat/